<div class="container my-3">
    <form [formGroup]="logInFormGroup" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
            <mat-card class="col-md-8">
                <mat-card-title>Log in</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <mat-form-field class="col">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="John.Doe@example.com" type="email" formControlName="email" [ngClass]="{ 'is-valid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors">
                                <div *ngIf="f.email.errors.required" class="alert alert-danger">Username is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="col">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" [ngClass]="{ 'is-valid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors">
                                <div *ngIf="f.password.errors.required" class="alert alert-danger">Password is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <div class="row justify-content-between no-gutters">
                    <div class="coll">
                        <button [disabled]="loading" mat-raised-button type="submit" color="primary">Log in</button>
                    </div>
                    <div class="coll">
                        <button [disabled]="loading" mat-button color="secondary" [routerLink]="['/', routes.signUp]">Sign up</button>
                    </div>
                </div>
                <mat-card-actions>
                </mat-card-actions>

            </mat-card>
        </div>
    </form>
</div>